.header{
  display: flex;
  height: 55px;
  margin-bottom: 20px;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 100;
  background-color:
white;
border-bottom-width:
1px;
border-bottom-style:
solid;
border-bottom-color:
rgb(228, 228, 228);
  }
  .left-section{
    display: flex;
    align-items: center;
  }
  .hamburger-menu{
    height: 24px;
    margin-left:24px;
    margin-right: 24px;
  }
  .youtube-logo{
      height: 20px;
      cursor: pointer;
  }
  .middle-section{
    display: flex;
    flex: 1;
    margin-left: 70px;
    margin-right:35px;
    max-width: 500px; 
    align-items: center;
    margin-top: 10px;
  }
  .search-bar{
    height: 40px;
    flex: 1;
    width: 0;
    min-width: 0;
    padding-left: 12px;
    font-size: 16px;
    -webkit-font-smoothing: antialiased;
    border: 1px solid #cccccc;
    border-top-left-radius: 2px;
    border-bottom-left-radius: 2px;
    box-shadow: inset 0px 1px 2px #eeeeee;
  }
  .search{
    width:64px;
    height:44px;
    border: 1px solid #cccccc;
    border-left: none;
    border-top-right-radius: 2px;
    border-bottom-right-radius: 2px;
    background-color: #f7f7f7;
    cursor: pointer;
    margin-right: 8px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .search-img{
    height: 24px;
    width: 24px;
    border: 1px #eeeeee;
    margin-left: -1px;
    
  }
.voice-search-icon{
    height: 40px;
    width: 40px;
    border: none;
    border-radius: 20px;
}
.voice-search-icon-img{
    height: 24px;
    background-color: rgb(245,245,245);
}
  .right-section{
    width: 180px;
    margin-right: 20px;
    text-align: center;
    display: flex;
    justify-content:space-between;
    align-items: center;
    flex-shrink: 0;
  }
  .upload{
    height: 24px;
  }
  .youtube-apps{
    height: 24px;
  }
  .notifications{
    height: 24px;
  }
  .my-channel{
    height: 32px;
    border-radius: 16px ;
  }
.notification-icon{
position: relative;
}
.notification-count{
  background-color: rgb(222, 0, 0);
  color: white;
  position:absolute;
  top: -3px;
  right: -4px;
  font-family: Roboto,arial;
  font-size: 11px;
  padding-left: 5px;
  padding-right: 5px;
  padding-top: 1px;
  padding-bottom: 2px;
  border-radius: 10px;
}
 