.sidebar{
    position: fixed;
    left: 0;
    bottom: 0;
    top: 55px;
    width: 72px;
    background-color: white;
    z-index: 200;
   padding-top: 5px;
}
.side-link{
    height: 74px;
    flex-direction: column;
    display: flex;
    align-items: center;
    justify-content: center;
    align-items: center;
    font-family: roboto,arial;
    font-size: 10px;
    cursor: pointer;
    font-weight: 500;
}
.side-link:hover{
    background-color: rgb(152, 154, 156);
}
.side-icon{
    height: 23.99px;
   margin-bottom: 4px;
}